@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 90%;
  margin: auto;
  padding: 0 20px 0 20px;
}

.section {
  margin: 30px 0 60px 0;
}