@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 90%;
  margin: auto;
  padding: 0 20px 0 20px;
}

.section {
  margin: 30px 0 60px 0;
  width: 100%;
  border-bottom: dashed 2px #000;
  padding: 20px 20px 20px 0;
}

.section .list {
  padding: 0 0 0 10px;
}

/* Functions */
.section-container,
.section-container .list-table {
  width: 100%;
}
.section-container .list-table {
}

.section-container .list-table .sub-title {
  text-align: left;
}
.section-container .list-table .titel-cell {
  font-weight: 700;
  width: 100%;
}
.section-container .list-table .sub-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section-container .list-table .list-cell {
  width: 70px;
  text-align: center;
  border-bottom: 1px solid #888;
  margin: 0 5px 0 0;
}
.cell-link {
  display: inline-block;
  width: 100%;
}